<title>My application</title>
  <h1>Hello, World!</h1>


  <form action="compute" method="post">
        <textarea name="strList1" rows="10" cols="30"></textarea>
        <textarea name="intList1" rows="10" cols="30"></textarea>
        <textarea name="strList2" rows="10" cols="30"></textarea>
        <textarea name="intList2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
Result is {{result}}